@(comments: List[Comment])

@main("Ajax Comment") {

<form class="form-inline" id="comment-form">
  <input type="text" id="input-comment" placeholder="comment" />
  <button type="submit" id="comment-submit">post</button>
</form>

<!-- コメントを表示 -->
<ul id="comments">
  @comments.map { comment =>
  	 <form class="form-inline" name="delete-form">
 	    <li>@comment.comment</li>
    	<button type="submit" name="delete-submit">delete</button>
    	<input type="hidden"  name="delete-id" value ="@comment.id"/>
    </form>
  }
<ul>
<script>
        $('#comment-form').submit(function(event) {
			event.preventDefault();
			var comment = $("#input-comment").val();
			
			var tetmp_ele = "<form class=\"form-inline\" name=\"delete-form\">"+
			                 "<li> "+comment +" </li>"+
			                 "<button type=\"submit\" name=\"delete-submit\">"+
			                 "delete</button><input type=\"hidden\" name=\"delete-id\" value =\""+
			                 "\"/></form>";
  			jsRoutes.controllers.Application.postComment(comment).ajax({
    			// 送信したらボタンを使用不可にし二重投稿を防ぐ
    			beforeSend: function() {
      				$("#comment-submit").attr('disabled', true);
    			},
    			// 完了したらボタン使用不可を解除する
    			complete: function() {
      				$("#comment-submit").attr('disabled', false);
    			},
    			// 投稿が成功したら新しいコメントを表示する
    			success: function(datetime) {
      				$("#input-comment").val("");
      				console.log(comment);
      				$('#comments').append("<li> "+comment +" </li>");
    			},
    			error: function() {
      				alert("error");
    			}
  			})
		});
		$('[name=delete-submit]').click(function(event) {
			event.preventDefault();
			
			var originat_element = $(this);
			var id               = originat_element.next("[name=delete-id]").val();
			console.log(id);

  			jsRoutes.controllers.Application.postDelete(id).ajax({
  				
    			// 送信したらボタンを使用不可にし二重投稿を防ぐ
    			beforeSend: function() {
      				originat_element.next("[name=delete-submit]").attr('disabled', true);
    			},
    			// 完了したらボタン使用不可を解除する
    			complete: function() {
      				originat_element.next("[name=delete-submit]").attr('disabled', false);
    			},
    			// 投稿が成功したら新しいコメントを表示する
    			success: function(datetime) {
      				originat_element.parent('[name=delete-form]').remove();
      				
    			},
    			error: function() {
      				alert("error");
    			}
  			})
		});
		</script>
}